---
title: International Symposium on Code Generation and Optimization 2020
banner-image-list:
    - url: https://upload.wikimedia.org/wikipedia/commons/d/d2/San_Diego_Skyline_Night_JD081107.jpg
---

{% include banner.html %}

<section class="no-top-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-heading" style="margin-bottom:.2em;">
          {{ site.conference.title }}
        </h1>
        <p class="lead section-lead"><b>{{ site.conference.dates }}, {{ site.conference.location }}</b></p>
        <p class="lead section-lead">
          Co-located with
          <a href="https://ppopp20.sigplan.org/">PPoPP</a>,
          <a href="https://cc-conference.github.io/20/">CC</a> and
          <a href="https://www.hpca-conf.org/2020/">HPCA</a>.
        </p>
        <p class="lead section-paragraph">
          The International Symposium on Code Generation and Optimization (CGO) provides a premier venue to bring together researchers and practitioners working at the interface of hardware and software on a wide range of optimization and code generation techniques and related issues. The conference spans the spectrum from purely static to fully dynamic approaches, and from pure software-based methods to specific architectural features and support for code generation and optimization.
        </p>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
          {% include important-dates.html %}
        </div>
        <div class="col-lg-6">
          {% include updates.html %}
        </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading"><b>Workshops & Tutorials</b></div>
          <table style="width:100%" id="wtxxx">
          <tr>
            <th>Conference</th>
            <th> </th>
            <th>CGO</th>
            <th>CGO</th>
          </tr>
          <tr>
            <td>Saturday 22nd</td>
            <td>8 a.m. - 12 noon</td>
            <td><a href="https://graalworkshop.github.io/2020">GRAAL</a></td>
              <td><a href="http://bit.ly/imop-cgo20">IMOP (half-day)</a></td>
          </tr>
          <tr>
            <td></td>
            <td>1 p.m. - 5 p.m.</td>
            <td><a href="https://graalworkshop.github.io/2020">GRAAL</a></td>
            <td><a href="http://llvm.org/devmtg/2020-02-22/">Women in Compilers</a> (half-day)</td>
          </tr>
          <tr>
            <th>Conference</th>
            <th></th>
            <th>CGO</th>
            <th>CGO</th>
          </tr>
          <tr>
            <td>Sunday 23rd</td>
            <td>8AM - 12AM</td>
            <td><a href="https://c4ml.org/">C4ML</a></td>
              <td><a href="http://llvm.org/devmtg/2020-02-23/">LLVM Performance</a></td>
          </tr>
          <tr>
            <td></td>
            <td>1PM - 5PM</td>
            <td><a href="https://c4ml.org/">C4ML</a></td>
              <td><a href="http://llvm.org/devmtg/2020-02-23/">LLVM Performance</a></td>
          </tr>
          <tr>
            <td></td>
            <td>6PM - 8PM</td>
            <td>Joint Welcome Reception and SRC Poster session (Fresco's)</td>
              <td></td>
          </tr>
          </table>  
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
          {% include sponsors.html %}
        </div>
        <div class="col-lg-4">
          {% include mailinglist.html %}
        </div>
    </div>

</section>
