{% for position in site.data.organization %}

<h3>{{ position.role | markdownify }}</h3>
<table>
  <tbody>
{% if position.members %}
  {% for member in position.members %}
    <tr>
        <td>
          {{ member.name | markdownify }}
        </td>
        <td>
            {{ member.affiliation | markdownify }}
        </td>
      </tr>
  {% endfor %}
{% else %}
  <tr>
    <td>
      {{ position.name | markdownify }}
    </td>
    <td>
        {{ position.affiliation | markdownify }}
    </td>
  </tr>
{% endif %}  
  </tbody>
</table>

{% endfor %}