<!-- <div class="row"> -->
  <div class="col-lg-8">
    <div class="panel panel-default">
      <div class="panel-heading"><b>Sponsors</b></div>
        {% for sponsor in site.data.sponsors %}
        {% assign i = forloop.index | modulo: 2 %}
        <div class="col-sm-6" style="text-align: center; padding: 5px;">
          <a href="{{ sponsor.url }}"><img src="{{ sponsor.logo-url }}" alt="{{ sponsor.name }}" /></a>
        </div>
        {% if i == 0 or forloop.last %}<div class="clearfix"></div>{% endif %}
        {% endfor %}
    </div>
  </div>
<!-- </div> -->