{% if site.data.updates %}
<div class="panel panel-default">
  <div class="panel-heading"><b>Latest Updates</b></div>
  <table class="table">
    <tbody>
      {% for date in site.data.updates %}
        <tr>
          <td style="text-align: right"><b>
            {% if date.done %} <del> {% endif %}
              {{ date.date }}
            {% if date.done %} </del> {% endif %}
          </b></td>
          <td>
            {% if date.done %} <del> {% endif %}
              {{ date.text | markdownify }}
            {% if date.done %} </del> {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}